body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

#container {
  width: 550px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

#user-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6943ff;
}

#user-input input {
  width: 60px;
  height: 60px;
  background-color: #6943ff;
  border: 1px solid white;
  color: white;
  font-size: xx-large;
  text-align: center;
}

button {
  font-size: small;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
}

#conversions {
  background-color: #f4f4f4;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.data {
  height: 80px;
  margin-bottom: 50px;
  background-color: #c4c2bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
